/* Please scroll down to the start of your exercise! */

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

section {
  background-color: lemonchiffon;
  display: grid;
  place-items: center;
}

.skyblue {
  background-color: skyblue;
}

button {
  background-color: white;
  padding: 8px 25px;
}

.button1 {
  border-color: deeppink;
}

.button2 {
  color: aqua;
  background-color: darkolivegreen;
}

.button3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: larger;
  font-stretch: expanded;
  color: rgb(255, 203, 82);
}

.button4 {
  box-shadow: 10px 10px rgba(255, 38, 241, 0.2);
  font-family: cursive;
  border-radius: 5px;
  border-color: rgba(255, 38, 241, 0.2);
}
